<link rel="stylesheet" href="/style.css">

<h1>Bienvenido</h1>
<% if (userId) { %>
  <p>Estás autenticado</p>
  <a href="/logout">Cerrar sesión</a>
<% } else { %>
  <a href="/login">Iniciar sesión</a>
  <a href="/register">Registrarse</a>
<% } %>
